<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Buscar abrigos</title>
</head>

<body>

    <h1>Buscador de abrigos</h1>

    <form action="abrigos" method="get">
        <label>
            Color del abrigo: <br>
            <input name="color" type="text"> <br>
        </label>

        <label>
            Talla del abrigo: <br>
            <input name="size" type="text"> <br>
        </label>

        <label>
            Temporada: <br>
            <input name="season" type="text"> <br>
        </label>

        <input type="submit" value="BUSCAR ABRIGOS">

    </form>
</body>

</html>